html,body{
  margin:0;
  padding:0
  }
  html{
    font-family:'Inconsolata',Courier,monospace;
    font-size:14px;
    line-height:1.5
    }
  title{
    content:none;
    }
  body{
    color:#2F4F4F;
    background-color:#DCDCDC;
    }
  /* Links */
  a{
    color:white;
    text-decoration:none
    }
  /* Mouse hovering over a link */
  a:hover,a:focus{
    text-decoration:underline
    }
  /* h3, h4, h4, h5, h6 usage ??? */
  h1,h2,h3,h4,h5,h6{
    margin-bottom:.5rem;
    font-weight:bold;
    line-height:1.25;
    text-rendering:optimizeLegibility
    }
    h1{
      color:black;
      font-size:1.75rem
      }
    h2{
      color:black;
      margin-top:1rem;
      font-size:1.5rem
      color:black
      }
    h3{
      color:#4169E1;
      margin-top:1.5rem;
      font-size:1.25rem
      }
    h4{
      color:#828282;
      font-size:1rem;
      }
    h5{
	  color:#666666;
      margin-top:1rem;
      font-size:1rem
      }
	h6{
      color:black;
      margin-top:1rem;
      font-size:1rem
      }
	/* Paragraph  */
    p{
      margin-top:0;
      margin-bottom:1rem

      }
	/* Code usage ?? */
    code{
      font-family:'Inconsolata',Courier,monospace;
      padding:.25em .5em;
      color:#c7254e;
      background-color:#f9f2f4
      }
    code a{
      color:#c7254e
      }
	/* Do not change */
    .container{
      max-width:40rem;
      padding-left:2rem;
      padding-right:2rem;
      margin-left:auto;
      margin-right:auto}
    header{
      text-align:center;
      padding-top:1rem;
      padding-bottom:1rem}
    header .title{
      margin:0
      }
	/* Rohit Athavale header color */
    header .title a{
      color:black
      }
    header .nav{
      font-size:90%;
      margin-top:.5rem
      }
	/* About / Resume / Github / Blog */
    header .nav a{
      color:#444;
      margin-left:.25rem;
      margin-right:.25rem
      }
    main{
      margin:2em 0

      }
    .resume .section{
      padding-bottom:.1rem
      color:black
      }
    .resume .download{
      float:right;
      width:10px;
      height:10px
      }
    .resume .download a{
      color:#444
      }
    .resume .item{
      margin-top:1.25em
      }
    .resume .item .logo{
      float:left;width:3rem
      }
    .resume .logo img{
      height:1.25rem;
      display:block;
      max-width:100%;
      margin:0 0 1rem
      }
    .resume .item .body{
	    margin-left:4rem;
      color:#444;
      }
    .resume .item .body a{
      color:#555;
      }
    .resume .item .body .duration{
      color:#666
      }
    .resume .item .body .details{
      padding-top:1rem
      }
    .resume .item .body .details ul{
      padding-left:1em
      }
    .resume .item .body .details li{
      margin-bottom:.5rem;
      list-style-type:disc
      }
      .error{
        text-align:center
      }
    .blog .section p{
      text-align:center 
      padding-top:1rem
      }
    .blog .section a{
      padding-top:1rem
      }
    .facts .section p{
      border: 1px solid black;
      width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
      }
